<html>
	<head>
		<title>Pub/Sub Ajax</title>
		<script type="text/javascript" src="lib/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="lib/underscore-min.js"></script>
		<script type="text/javascript" src="pubsubz.js"></script>
	</head>
<body>

	<form id="flickrSearch">
		<input type="text" name="tag" id="query"/>
		<input type="submit" name="submit" value="submit"/>
	</form>
	<div id="lastQuery"></div>
	<div id="searchResults"></div>

	<script id="resultTemplate" type="text/html">
		<% _.each(items, function( item ){ %>
			<li><p><img src="<%= item.media.m %>"/></p></li>
		<% });%>
	</script>
	<script type="text/javascript" src="ajax.js"></script>

</body>
</html>